 
 $white       : #FFFFFF;
 $ghost       : #FAFAFA;
 $snow        : #F9F9F9;
 $vapor       : #F6F6F6;
 $white-smoke : #F5F5F5;
 $silver      : #EFEFEF;
 $smoke       : #EEEEEE;
 $gainsboro   : #DDDDDD;
 $iron        : #CCCCCC;
 $base        : #AAAAAA;
 $aluminum    : #999999;
 $jumbo       : #888888;
 $monsoon     : #777777;
 $steel       : #666666;
 $charcoal    : #555555;
 $tuatara     : #444444;
 $oil         : #333333;
 $jet         : #222222;
 $black       : #000000;

// We use these as default colors throughout
 $primary-color:            rgb(93, 118, 168);  //základní modrá KYPO pro pozadí bloků, menu apod. 
 $primary-darker-color:     rgb(52, 83, 146);   //modrá KYPO pro pozadí header apod.
 $primary-dark-color:       rgb(35, 56, 98);
 $primary-light-color:      rgb(154, 170, 200); //velmi světlá barva, linky rozdělení v top bar menu
 $primary-very-light-color: $primary-light-color;
 $primary-events-color:     $primary-color;  //zelená pro barvu na datumy u Events nebo pozadí ikon sociálních sítí
 
 $secondary-color: rgb(81, 81, 81);  //šedá KYPO hover efekty
 $third-color:     $secondary-color; //není - převedená secondary

 // $topheader-colorstop-1: rgb(0, 107, 91);
 // $topheader-colorstop-2: rgb(0, 129, 105);
 // $topheader-colorstop-3: rgb(0, 123, 105);   // basic barva pozadí - největší plocha

 $gray-color:                rgb(71, 71, 71); //šedá FSS, H1 nadpis
 $gray-transparent-color:    rgba($gray-color, 0.85); //tmavší šedá s průhledností pro pozadí nadpisů v blocích a modulech
 $gray-dark-color:           rgb(42, 42, 42);
 $gray-lighter-color:        rgb(112, 112, 112);
 $gray-light-color:          rgb(188, 188, 188);
 $gray-very-light-color:     rgb(250, 250, 250);
 $gray-tab-content-switcher: rgb(127, 127, 127);

 $firebrick-red-color:     rgb(194, 62, 62); 
 $alloy-orange-color:      rgb(212, 115, 36);
 $goldenrod-yellow-color:  rgb(209, 158, 13);
 $avocado-green-color:     rgb(81, 148, 63);
 $myrtle-green-color:      rgb(27, 143, 127);
 $blue-color:              rgb(0, 151, 212);
 $darkblue-color:          rgb(35, 104, 173);
 $royal-purple-color:      rgb(125, 108, 166);
 $pearly-purple-color:     rgb(183, 104, 162);

 $gray-footer-link-color:       rgb(225, 229, 233);
 $gray-footer-link-hover-color: rgb(140, 140, 140);
 $gray-footer-box-color:        rgb(69, 70, 74);
 $gray-footer-bg-color:         rgb(61, 62, 66);
  
// social networks colors - http://designpieces.com/2012/12/social-media-colours-hex-and-rgb/

 $facebook-color:  rgb(59, 89, 152); //http://designpieces.com/2012/12/facebook-colour-palette/
 $twitter-color:   rgb(0, 172, 237); //http://designpieces.com/2012/12/twitter-colour-palette/
 $google-color:    rgb(221, 75, 57);
 $youtube-color:   rgb(187, 0, 0);
 $linkedin-color:  rgb(0, 123, 182);
 $instagram-color: rgb(81, 127, 164);
 $pinterest-color: rgb(203, 32, 39);
 $flickr-color:    rgb(255, 0, 132);
 $tumblr-color:    rgb(0, 80, 109);
 $vimeo-color:     rgb(170, 212, 80);

// $alert-color: #f04124;
// $success-color: #43AC6A;
// $warning-color: #f08a24;
// $info-color: #a0d3e8;
