// 34. Top Bar
// - - - - - - - - - - - - - - - - - - - - - - - - -

// $include-html-top-bar-classes: $include-html-classes;

// Background color for the top bar
 $topbar-bg-color: $white;
// $topbar-bg: transparent; //$topbar-bg-color;

// Height and margin
 $topbar-height: 47px;
// $topbar-margin-bottom: 0;

// Controlling the styles for the title in the top bar
// $topbar-title-weight: $font-weight-bold;
// $topbar-title-font-size: rem-calc(17);

// Style the top bar dropdown elements
 $topbar-dropdown-bg: $white;
 $topbar-dropdown-link-color: $gray-dark-color;
 $topbar-dropdown-link-bg: $white;
// $topbar-dropdown-link-weight: $font-weight-normal;
 $topbar-dropdown-toggle-size: 4px;
 $topbar-dropdown-toggle-color: $gray-dark-color;
 $topbar-dropdown-toggle-alpha: 1;

// Set the link colors and styles for top-level nav
 $topbar-link-color: $gray-dark-color;
 $topbar-link-color-hover: $secondary-color;
 $topbar-link-color-active: $secondary-color;
 $topbar-link-color-active-hover: $gray-dark-color;
 $topbar-link-weight: $font-weight-normal;
 $topbar-link-font-size: rem-calc(13);
// $topbar-link-hover-lightness: -10%; // Darken by 10%
 $topbar-link-bg: $topbar-bg-color;
 $topbar-link-bg-color-hover: $white;
 $topbar-link-bg-hover: $topbar-link-bg-color-hover;
 $topbar-link-bg-active: $topbar-link-bg-color-hover;
 $topbar-link-bg-active-hover: $topbar-link-bg-color-hover;
// $topbar-link-font-family: $body-font-family;
 $topbar-link-text-transform: uppercase;
// $topbar-link-padding: 24px; //$topbar-height / 3;
 $topbar-back-link-size: rem-calc(14);
// $topbar-link-dropdown-padding: 20px;
// $topbar-back-link-color: $topbar-link-color;
 $topbar-back-link-color-hover: $gray-light-color;

// $topbar-button-font-size: 0.75rem;
// $topbar-button-top: 7px;

// $topbar-dropdown-label-color: red;
// $topbar-dropdown-label-text-transform: uppercase;
// $topbar-dropdown-label-font-weight: $font-weight-bold;
// $topbar-dropdown-label-font-size: rem-calc(10);
// $topbar-dropdown-label-bg: $oil;

 $topbar-primnav-border: 1px solid rgb(211,211,211);

// Top menu icon styles
// $topbar-menu-link-transform: uppercase;
// $topbar-menu-link-font-size: rem-calc(13);
// $topbar-menu-link-weight: $font-weight-bold;
// $topbar-menu-link-color: $white;
 $topbar-menu-icon-color: $gray-dark-color;
 $topbar-menu-link-color-toggled: $gray-dark-color;
 $topbar-menu-icon-color-toggled: $gray-dark-color;
 $topbar-menu-icon-bg: $gray-dark-color;
 $topbar-menu-icon-bg-hover: $primary-dark-color;

// Transitions and breakpoint styles
// $topbar-transition-speed: 300ms;
// Using rem-calc for the below breakpoint causes issues with top bar
// $topbar-breakpoint: #{lower-bound($medium-range)}; // Change to 9999px for always mobile layout
// $topbar-media-query: $medium-up;

// Divider Styles
// $topbar-divider-border-bottom: solid 1px  scale-color($topbar-bg-color, $lightness: 13%);
// $topbar-divider-border-top: solid 1px scale-color($topbar-bg-color, $lightness: -50%);

// Sticky Class
 $topbar-sticky-class: ".sticky-topbar";
 $topbar-arrows: true; //Set false to remove the triangle icon from the menu item